.mid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
}

.site-phone {
    text-align: center;
    margin: 0 auto;
    width: 50%;
}

.site-phone h2 {
    font-size: 45px;
    width: 80%;
    margin: 0 auto;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 40px;
}

.text-mid {
    width: 50%;
    background: url(../../assets/mid-left2.jpg);
    background-position: center;
    background-size: cover;
    height: 750px;
}

.text-mid p {
    max-width: 80%;
    text-align: center;
    margin-top: 30%;
    margin-left: 10%;
    color: white;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

@media (max-width: 700px) {
    .mid {
        flex-direction: column;
    }

    .site-phone {
        width: 100%;
    }

    .site-phone h2 {
        text-align: center;
        font-size: 35px;
        width: 80%;
    }

    .text-mid {
        width: 100%;
    }

    .text-mid p {
        font-size: 15px;
        margin-top: 50%;
    }
}

@media (min-width: 701px) and (max-width: 900px) {
    .mid {
        flex-direction: column;
    }

    .site-phone {
        width: 100%;
    }

    .site-phone h2 {
        text-align: center;
        font-size: 35px;
        width: 80%;
    }

    .text-mid {
        width: 100%;
    }

    .text-mid p {
        font-size: 15px;
        margin-top: 40%;
    }
}

@media (min-width: 901px) and (max-width: 980px) {
    .site-phone h2 {
        font-size: 30px;
    }

    .text-mid p {
        font-size: 14px;
        margin-top: 50%;
    }
}